code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}


table {
	margin: 2em 0;
	width:100%;
}

table, th, td {
	border: 1px solid #999;
}

tbody th {
	text-align:left;
	width:70%;
}
tbody td {
	width:10%;
	font-weight: bold;
}

td.yes {
	background-color: #FF4136;
	color: #000;
	
}

td.no {
	background-color: #2ECC40;
	color: #000;
}