code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}


table {
	margin: 1em 0;
	width:100%;
}

table, th, td {
	border: 1px solid #999;
}

thead th:first-child {
	text-align:left;
}

tbody th {
	text-align:left;
	width:70%;
	font-weight:normal;
}
tbody td {
	width:10%;
	text-align:center;
}

td.yes {
	background-color: #2ECC40;
	color: #000;
}

td.no {
	background-color: #ff8a7d;
	color: #000;
}

caption {
	font-size: 1.15em;
	text-align:left;
	font-weight: bold;
}